# ignore twitter keys
twitter_key.py
twitter_credentials.py
twitter_keys.yaml


# ignore csv and json files
tweets.csv
tweets2.json
tweets_ns.csv
tweets_json_sentiment.csv
data_file.json
data.json
/Input/data1.json
/Input/data2.json
/Input/data3.json
/Input/data4.json
/Input/data5.json
/Input/data6.json
/Input/data7.json
/Input/data8.json
/Input/data9.json
/Input/data10.json
/Input/data11.json
/Input/data12.json
/Input/data13.json
/Input/data14.json
/Input/data15.json
/Input/data16.json
/Input/data17.json
/Input/data18.json
/Input/data19.json
/Input/data20.json
/Input/data21.json
/Input/data22.json
/Input/data23.json
/Input/data24.json
/Input/data25.json
/Input/data26.json
/Input/data27.json
/Input/data28.json
/Input/data29.json
/Input/data30.json
/Input/data31.json
/Input/data32.json
/Input/data33.json
/Input/data34.json
/Input/data35.json
/Input/data36.json
/Input/data37.json
/Input/data38.json
/Input/data39.json
/Input/data40.json
/Input/data41.json
/Input/data42.json
/Input/data43.json
/Input/data44.json
/Input/data45.json
/Input/data46.json
/Input/data47.json
/Input/data48.json
/Input/data49.json
/Input/data50.json
/Input/data51.json
/Input/data52.json
/Input/data53.json
/Input/data54.json
/Input/data55.json
/Input/data56.json
/Input/data57.json
/Input/data58.json
/Input/data59.json
/Input/data60.json
/Input/data61.json
/Input/data62.json
/Input/data63.json
/Input/data64.json
/Input/data65.json
/Input/data66.json
/Input/data67.json
/Input/data68.json
/Input/data69.json
/Input/data70.json
/Input/data71.json
/Input/data72.json
/Input/data73.json
/Input/data74.json
/Input/data75.json
/Output/tweets_json.csv
/Output/tweets_json copy.csv
/Output/tweets_json_converted.csv
